<div class="text-left">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    {{> comments}}
    <!-- Render ability to comment based on logged_in status --> 
    {{#if logged_in}}
    <form>
      <label for="comment-content">Comment:</label>
      <textarea class="comment-input" id="comment-content" name="comment-content" cols="50" placeholder="Remember to be kind to each other." ></textarea>
      <div class="form-group"> 
        <button type="submit" class="btn btn-primary">Submit!</button>
      </div>
    </form>
    {{else}}
    You need to <a href="/login">Login</a> to post a comment.
    {{/if}}
  </p>
</div>
